{% set component_type = 'bulma_image' %}
{% set errors = process_component() %}
<figure{{ attributes }}>
  {% block image %}
  <img{{ img_attributes }}/>
  {% endblock image %}
  {% block caption %}
  {% if caption %}
  <figcaption{{ caption_attributes }}>
    {{ caption }}
  </figcaption>
  {% endif %}
  {% endblock caption %}
</figure>
