{%
  set items = [
    {
      url: '/',
      title: 'Home',
      icon: {
        icon_set: 'fas',
        icon: 'fa-puzzle-piece',
        text_color: 'has-text-danger'
      }
    },
    {
      url: '/test',
      title: 'Test',
      icon: {
        icon_set: 'fas',
        icon: 'fa-thumbs-up',
        text_color: 'has-text-info'
      }
    },
  ]
%}
{%
  set tabs = {
    alignment: 'is-centered',
    style: 'is-toggle is-toggle-rounded',
    links: {
      items: items,
    }
  }
%}
{{ include('@bulma_components/components/tabs/tabs.html.twig', tabs) }}
