{%
  set items = [
    {
      url: '/',
      title: 'Home',
    },
    {
      url: '/test',
      title: 'Test',
    },
  ]
%}
{%
  set tabs = {
    links: {
      items: items,
    }
  }
%}
{{ include('@bulma_components/components/tabs/tabs.html.twig', tabs) }}
