{% set component_type = 'bulma_tabs' %}
{% set errors = process_component() %}
<{{ tag }}{{ attributes }}>
  {%- if not (links is empty) -%}
  {{ include('@bulma_components/components/links/links.html.twig', links) }}
  {%- endif -%}
</{{ tag }}>
