{% set content_1 %}
{{ include('@bulma_components/elements/title/_example-title.html.twig') }}
{% endset %}
{% set content_2 %}
{{ include('@bulma_components/elements/title/_example-subtitle.html.twig') }}
{% endset %}
{% set content_3 %}
{{ include('@bulma_components/elements/title/_example-title.html.twig') }}
{{ include('@bulma_components/elements/title/_example-subtitle.html.twig') }}
{% endset %}
{% set content_4 %}
{{ include('@bulma_components/elements/title/_example-title-with-link.html.twig') }}
{% endset %}
{% set content_5 %}
{{ include('@bulma_components/elements/title/_example-subtitle-with-link.html.twig') }}
{% endset %}
{% set content_6 %}
{{ include('@bulma_components/elements/title/_example-title-with-link.html.twig') }}
{{ include('@bulma_components/elements/title/_example-subtitle-with-link.html.twig') }}
{% endset %}
{%
  set columns = [
    {
      size: 'is-one-quarter',
      content: content_1,
    },
    {
      size: 'is-one-quarter',
      content: content_2,
    },
    {
      size: 'is-one-quarter',
      content: content_3,
    },
    {
      size: 'is-one-quarter',
      content: content_4,
    },
    {
      size: 'is-one-quarter',
      content: content_5,
    },
    {
      size: 'is-one-quarter',
      content: content_6,
    },
  ]
%}
{{ include('@bulma_components/columns/columns/columns.html.twig', {
    is_multiline: true,
    columns: columns,
  }) }}
