{% set component_type = 'bulma_title' %}
{% set errors = process_component() %}
{{ title_prefix }}
{% if title %}
<h{{ heading_level }}{{ attributes }}>
  {% if url %}
    <a href="{{ url }}">{{ title }}</a>
  {% else %}
    {{ title }}
  {% endif %}
</h{{ heading_level }}>
{% endif %}
{{ title_suffix }}
