{% set content %}
{{ include('@bulma_components/elements/box/_example-box.html.twig') }}
{% endset %}
{%
  set modal = {
    content: content,
  }
%}
{{ include('@bulma_components/components/modal/modal.html.twig', modal) }}
