{% set component_type = 'bulma_box' %}
{% set errors = process_component() %}
<div{{ attributes }}>
  <div class="modal-background"></div>
  <div class="modal-content">
    {% block modal_content %}
    {{ content }}
    {% endblock modal_content %}
  </div>
  {% block modal_button %}
  <button{{ button_attributes.addClass('modal-close') }}></button>
  {% endblock modal_button %}
</div>
