{% set content_1 %}
{{ include('@bulma_components/elements/button/_example-button.html.twig') }}
{% endset %}
{% set content_2 %}
{{ include('@bulma_components/elements/button/_example-button-rounded.html.twig') }}
{% endset %}
{% set content_3 %}
{{ include('@bulma_components/elements/button/_example-button-large.html.twig') }}
{% endset %}
{%
  set columns = [
    {
      size: 'is-one-quarter',
      content: content_1,
    },
    {
      size: 'is-one-quarter',
      content: content_2,
    },
    {
      size: 'is-one-quarter',
      content: content_3,
    },
  ]
%}
{{ include('@bulma_components/columns/columns/columns.html.twig', {
    is_multiline: true,
    columns: columns,
  }) }}
