{%
  set button = {
    button_label: 'My button',
    is_rounded: true,
    icon_left: {
      'icon_set': 'fas',
      'icon': 'fa-book-open',
      'text_color': 'has-text-info'
    },
  }
%}
{{ include('@bulma_components/elements/button/button.html.twig', button) }}
