{% set component_type = 'bulma_button' %}
{% set errors = process_component() %}
{% if attributes.hasAttribute('href') %}
  {% set tag = 'a' %}
{% endif %}
<{{ tag }}{{ attributes }}>
  {% if icon_left %}
    {{ include('@bulma_components/elements/icon/icon.html.twig', icon_left, with_context = false) }}
  {% endif %}
  <span>{{ button_label }}</span>
  {% if icon_right %}
    {{ include('@bulma_components/elements/icon/icon.html.twig', icon_right, with_context = false) }}
  {% endif %}
</{{ tag }}>
