{% set content_1 %}
{{ include('@bulma_components/elements/buttons/_example-buttons.html.twig') }}
{% endset %}
{% set content_2 %}
{{ include('@bulma_components/elements/buttons/_example-buttons-with-addons.html.twig') }}
{% endset %}
{%
  set columns = [
    {
      size: 'is-one-quarter',
      content: content_1,
    },
    {
      size: 'is-one-quarter',
      content: content_2,
    },
  ]
%}
{{ include('@bulma_components/columns/columns/columns.html.twig', {
    is_multiline: true,
    columns: columns,
  }) }}
