{% set component_type = 'bulma_buttons' %}
{% set errors = process_component() %}
<{{ tag }}{{ attributes }}>
  {% for button in buttons %}
    {{ include('@bulma_components/elements/button/button.html.twig', button, with_context = false) }}
  {% endfor %}
</{{ tag }}>
