{% set content %}
{{ include('@bulma_components/helpers/typography/_example-typography.html.twig') }}
{% endset %}
{%
  set columns = [
    {
      size: 'is-one-quarter',
      content: content,
    },
  ]
%}
{{ include('@bulma_components/columns/columns/columns.html.twig', columns) }}
