{% set content_1 %}
{{ include('@bulma_components/elements/content/_example-content-small.html.twig') }}
{% endset %}
{% set content_2 %}
{{ include('@bulma_components/elements/content/_example-content-large.html.twig') }}
{% endset %}
{%
  set columns = [
    {
      size: 'is-half',
      content: content_1,
    },
    {
      size: 'is-half',
      content: content_2,
    },
  ]
%}
{{ include('@bulma_components/columns/columns/columns.html.twig', {
    is_multiline: true,
    columns: columns,
  }) }}
