{% set content %}
{{ include('@bulma_components/elements/button/_example-button-rounded.html.twig') }}
{% endset %}
{%
  set box = {
    content: content,
  }
%}
{{ include('@bulma_components/elements/box/box.html.twig', box) }}
