{% set content_1 %}
{{ include('@bulma_components/components/card/_example-card.html.twig') }}
{% endset %}
{% set content_2 %}
{{ include('@bulma_components/components/card/_example-card-with-image.html.twig') }}
{% endset %}
{% set content_3 %}
{{ include('@bulma_components/components/card/_example-card-with-header.html.twig') }}
{% endset %}
{% set content_4 %}
{{ include('@bulma_components/components/card/_example-card-with-footer.html.twig') }}
{% endset %}
{%
  set columns = [
    {
      size: 'is-one-quarter',
      content: content_1,
    },
    {
      size: 'is-one-quarter',
      content: content_2,
    },
    {
      size: 'is-one-quarter',
      content: content_3,
    },
    {
      size: 'is-one-quarter',
      content: content_4,
    },
  ]
%}
{{ include('@bulma_components/columns/columns/columns.html.twig', {
    is_multiline: true,
    columns: columns,
  }) }}
