{%
  set links = {
    items: [
      {
        url: '/',
        title: 'Home',
      },
      {
        url: '/test',
        title: 'Test',
      },
    ]
  }
%}
{{ include('@bulma_components/components/links/links.html.twig', links) }}
