{% set component_type = 'bulma_links' %}
{% set errors = process_component() %}
{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ _self.links(items, attributes, 0) }}

{% macro links(items, attributes, menu_level) %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes }}>
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
      <li{{ item.attributes }}>
        {%- if item.url -%}
          <a href="{{ item.url }}">
        {%- endif -%}
        {%- if item.icon -%}
          {{ include('@bulma_components/elements/icon/icon.html.twig', item.icon, with_context = false) }}
        {%- endif -%}
        {{ item.title }}
        {%- if item.url -%}
          </a>
        {%- endif -%}
        {% if item.below %}
          {{ _self.links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
