{%
  set message = {
    size: 'is-large',
    color: 'is-danger',
    header: {
      content: 'Message',
    },
    body: {
      content: 'This is the message.',
    },
  }
%}
{{ include('@bulma_components/components/message/message.html.twig', message) }}
