{% set component_type = 'bulma_message' %}
{% set errors = process_component() %}
<div{{ attributes }}>
  {% if header.content %}
  <{{ header.tag }}{{ header.attributes.addClass('message-header') }}>
    {{ header.content }}
    {{ include('@bulma_components/elements/delete/delete.html.twig', delete ?? [], with_context = false) }}
  </{{ header.tag }}>
  {% endif %}
  <{{ body.tag }}{{ body.attributes.addClass('message-body') }}>
    {{ body.content }}
  </{{ body.tag }}>
</div>
