{% set component_type = 'btable' %}
{% set errors = process_component() %}
{{ if has_container is true }}
<div class="table-container">
{{ endif }}
  <table{{ attributes }}>
  </table>
{{ if has_container is true }}
</div>
{{ endif }}
