{%
  set icon_text = {
    items: [
      {
        icon: {
          icon_set: 'fas',
          icon: 'fa-book-open',
          text_color: 'has-text-info',
        },
        text: 'An informational book',
      },
      {
        icon: {
          icon_set: 'fas',
          icon: 'fa-cat',
          text_color: 'has-text-danger'
        },
        text: 'A dangerous cat',
      },
    ],
  }
%}
{{ include('@bulma_components/elements/icon_text/icon_text.html.twig', icon_text) }}
