{% set component_type = 'bulma_icon_text' %}
{% set errors = process_component() %}
<span{{ attributes }}>
{% for item in items %}
  {{ include('@bulma_components/elements/icon/icon.html.twig', item.icon) }}
  <span>{{ item.text }}</span>
{% endfor %}
</span>
