{% set component_type = 'bulma_notification' %}
{% set errors = process_component() %}
<{{ tag }}{{ attributes }}>
  {% block delete %}
  {% if delete %}
    {{ include('@bulma_components/elements/delete/delete.html.twig', delete) }}
  {% endif %}
  {% endblock delete %}
  {% block content %}
  {{ content }}
  {% endblock content %}
</{{ tag }}>
