{% set component_type = 'bprogress' %}
{% set errors = process_component() %}
{% block label %}
{% if label %}
<label for="{{ id }}">{{ label }}</label>
{% endif %}
{% endblock label %}
{% block progress %}
<progress id="{{ id }}"{{ attributes|without('id') }}>{{ value }}</progress>
{% endblock progress %}
