{% set content_2 %}
{{ include('@bulma_components/elements/title/_example-title.html.twig') }}
{{ include('@bulma_components/elements/title/_example-subtitle.html.twig') }}
{% endset %}
{% set content_3 %}
{{ include('@bulma_components/components/card/_example-card-with-image.html.twig') }}
{% endset %}
{%
  set columns = [
    {
      size: 'is-one-quarter',
      content: 'My column content',
    },
    {
      size: 'is-one-quarter',
      content: content_2,
    },
    {
      size: 'is-half',
      content: content_3,
    },
  ]
%}
{{ include('@bulma_components/columns/columns/columns.html.twig', {
    is_centered: true,
    is_mobile: true,
    columns: columns,
  }) }}
