{% set content %}
{{ include('@bulma_components/components/card/_example-card-with-image.html.twig') }}
{% endset %}
{%
  set columns = [
    {
      size: 'is-half',
      offset: 'is-offset-2',
      content: content,
    },
  ]
%}
{{ include('@bulma_components/columns/columns/columns.html.twig', {
    is_centered: true,
    columns: columns,
  }) }}
