{% set component_type = 'bulma_columns' %}
{% set errors = process_component() %}
<div{{attributes }}>
  {% block columns %}
  {% for column in columns %}
  {% set column_attributes = prepend_class(column.attributes, 'column') %}
  <div{{ column_attributes }}>
    {{ column.content }}
  </div>
  {% endfor %}
  {% endblock columns %}
</div>
