{% macro first(items) %}
  {# Print first item if we are not on the first page. #}
  {% if items.first %}
    <a href="{{ items.first.href }}" title="{{ 'Go to first page'|t }}"{{ items.first.attributes.addClass('pagination-previous')|without('href', 'title') }}>
      <span class="visually-hidden">{{ 'First page'|t }}</span>
      <span aria-hidden="true">{{ items.first.text|default('« First'|t) }}</span>
    </a>
  {% endif %}
{% endmacro %}
{% macro previous(items) %}
  {# Print previous item if we are not on the first page. #}
  {% if items.previous %}
    <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes.addClass('pagination-previous')|without('href', 'title', 'rel') }}>
      <span class="visually-hidden">{{ 'Previous page'|t }}</span>
      <span aria-hidden="true">{{ items.previous.text|default('‹ Previous'|t) }}</span>
    </a>
  {% endif %}
{% endmacro %}
{% macro next(items) %}
  {# Print next item if we are not on the last page. #}
  {% if items.next %}
    <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes.addClass('pagination-next')|without('href', 'title', 'rel') }}>
      <span class="visually-hidden">{{ 'Next page'|t }}</span>
      <span aria-hidden="true">{{ items.next.text|default('Next ›'|t) }}</span>
    </a>
  {% endif %}
{% endmacro %}
{% macro last(items) %}
  {# Print last item if we are not on the last page. #}
  {% if items.last %}
    <a href="{{ items.last.href }}" title="{{ 'Go to last page'|t }}"{{ items.last.attributes.addClass('pagination-next') }}>
      <span class="visually-hidden">{{ 'Last page'|t }}</span>
      <span aria-hidden="true">{{ items.last.text|default('Last »'|t) }}</span>
    </a>
  {% endif %}
{% endmacro %}
{% set component_type = 'bulma_pagination' %}
{% set errors = process_component() %}
<nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes|without('role', 'aria-labelledby')}}>
  <h4 id="{{ heading_id }}" class="visually-hidden">{{ 'Pagination'|t }}</h4>
  {% if previous_next_position != "after" %}
  {{ _self.first(items) }}
  {{ _self.previous(items) }}
  {% endif %}
  {% if previous_next_position == "before" %}
  {{ _self.next(items) }}
  {{ _self.last(items) }}
  {% endif %}
  {% if ellipses.previous and previous_next_position == "split" %}
  {# Add an ellipsis if there are further previous pages. #}
    <span class="pagination-ellipsis" role="presentation">&hellip;</span>
  {% endif %}
  <ul class="pagination-list js-pager__items">
    {# Now generate the actual pager piece. #}
    {% for key, item in items.pages %}
      <li>
        {% if current == key %}
          {% set title = 'Current page'|t %}
          {% set attributes = attributes.addClass('is-current')%}
        {% else %}
          {% set title = 'Go to page @key'|t({'@key': key}) %}
        {% endif %}
        <a href="{{ item.href }}" title="{{ title }}"{{ item.attributes.addClass('pagination-link')|without('href', 'title') }}>
          <span class="visually-hidden">
            {{ current == key ? 'Current page'|t : 'Page'|t }}
          </span>
          {{- key -}}
        </a>
      </li>
    {% endfor %}
  </ul>
  {% if ellipses.next and previous_next_position == "split" %}
  {# Add an ellipsis if there are further previous pages. #}
    <span class="pagination-ellipsis" role="presentation">&hellip;</span>
  {% endif %}
  {% if previous_next_position == "after" %}
  {{ _self.first(items) }}
  {{ _self.previous(items) }}
  {% endif %}
  {% if previous_next_position != "before" %}
  {{ _self.next(items) }}
  {{ _self.last(items) }}
  {% endif %}
</nav>
