{% set content %}
{{ include('@bulma_components/components/breadcrumb/_example-breadcrumb.html.twig') }}
{{ include('@bulma_components/components/breadcrumb/_example-breadcrumb-alignment-right.html.twig') }}
{{ include('@bulma_components/components/breadcrumb/_example-breadcrumb-alignment-centered-with-icons.html.twig') }}
{% endset %}
{%
  set columns = [
    {
      size: 12,
      content: content,
    },
  ]
%}
{{ include('@bulma_components/columns/columns/columns.html.twig', columns) }}
