{%
  set items = [
    {
      url: '/',
      title: 'Home',
    },
    {
      url: '/test',
      title: 'Test',
    },
  ]
%}
{%
  set breadcrumb = {
    alignment: 'is-right',
    separator: 'has-succeeds-separator',
    size: 'is-large',
    links: {
      items: items,
    }
  }
%}
{{ include('@bulma_components/components/breadcrumb/breadcrumb.html.twig', breadcrumb) }}
