{%
  set items = [
    {
      url: '/',
      title: 'Home',
      icon: {
        icon_set: 'fas',
        icon: 'fa-puzzle-piece',
        text_color: 'has-text-danger'
      }
    },
    {
      url: '/test',
      title: 'Test',
      icon: {
        icon_set: 'fas',
        icon: 'fa-thumbs-up',
        text_color: 'has-text-info'
      }
    },
  ]
%}
{%
  set breadcrumb = {
    alignment: 'is-centered',
    links: {
      items: items,
    }
  }
%}
{{ include('@bulma_components/components/breadcrumb/breadcrumb.html.twig', breadcrumb) }}
