{% set component_type = 'bulma_breadcrumb' %}
{% set errors = process_component() %}
<nav{{ attributes }}>
  {%- if not (links is empty) -%}
    {{ include('@bulma_components/components/links/links.html.twig', links) }}
  {%- endif -%}
</nav>
